ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu a{
	background:#B0C4DE;
	color: #000000;
	padding: 15px;
	display: block;
	border-bottom: 2px solid #666;
	transition: 0.5s all;
	font-family:Florence, cursive;
font-size:20px;
}
.sidebar{
	width: 350px;
	
	margin: 70px;
}
.menu a:hover{
	background: #B0E0E6;
	padding: 15px 0 20px 20px;
}

.p_menu{position: relative;
left:900px;
top: -750px;}
.sm{
	text-shadow: 0 0 0.2em #B0E0E6;
	text-indent: 1.5em;
    text-align: center;
    width: 1300px;
    height: 40px;
    color: #008080;
    font-size: 45px;
    right: 550px;
   
	font-family:Luminari, fantasy; 
      
}